<ion-header-bar class="bar-positive">
	<h1 class="title">UCL TB</h1>
</ion-header-bar>
	<div class="padding bar bar-subheader">
		<h2>Main Menu</h2>
	</div>
<ion-content class="padding has-subheader">
	<ion-refresher on-refresh="doRefresh()"></ion-refresher>

	<div class="card">
		<div class="item">
			General Information
		</div>
		<div class="item">
			Clinical Service
		</div>
		<div class="item">
			Quiz
		</div>
		<div class="item">
			Research
		</div>
		<div class="item">
			Feedback
		</div>
	</div>
</ion-content>
