

<ion-view view-title="About Our Research">
	<div class="bar has-header item-input-inset bar-light">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<!-- Search bar -->
			<input type="search" ng-model="query" placeholder="Search">
		</label>
	</div>
	<ion-content class="has-subheader">
		<ion-list>
			<ion-item class="item-thumbnail-left"
				ng-repeat='item in projects | filter: query'
				ui-sref="project({ proj: item.ref })">
				<img src="{{item.coverimage}}">
				<h2>{{ item.name }}</h2>
				<p>{{ item.intro }}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>

