<ion-view view-title="Staff">
	<div class="bar has-header item-input-inset bar-light">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" ng-model="query" placeholder="Search">
		</label>
	</div>
	<ion-content class="has-subheader">
		<ion-list>
			<ion-item class="item-thumbnail-left"
				ng-repeat='item in stafflist | filter: query'
				ui-sref="detail({ detail: item.ref })">
				<img src="http://placehold.it/100x100">
				<h2>{{ item.name }}</h2>
				<h3>{{ item.role }}</h2>
				<p>{{ item.bio }}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
