<ion-view view-title="Contact Details">
<ion-content ng-repeat="item in contact | filter: { ref: whichcontact }"
		class="has-header">
		<div class="card">
			<div class="item-divider1">
				<h2 align="center" style="color:white">Contact Details</h2>
				<h5 align="center" style="color:white">{{ item.hospital}} Reception</h5>
			</div>
			<div class="item item-text-wrap">
				<div ng-repeat="item in item.number">
					<h2 align="left"><b><u>{{item.type}}</u></b></h2>
					<h2 align="left">{{item.number}}</h2>
					</br>
				</div>
				<div ng-repeat="item in item.email">
					<h2 align="left"><b><u>{{item.type}}</u></b></h2>
					<h2 align="left">{{ item.email}}</h2>
					</br>
				</div>
				
				</br>
			</div>
		</div>
	</ion-content>
</ion-view>




		