<ion-view view-title="Quiz">
	<ion-content class="has-header">
		<p align="center"><b>Please select true or false</b></p>
		<ion-item>
			
			<div class="card">
				<div class="item item-text-wrap" ng-repeat="item in quiz | filter: { ref: whichquestion }">
					<p align="center"><b><u>{{item.type}}</u></b></p>
					<br/>
					<h2 align="center">{{ item.question}}</h2> 
					<button class = "button button-block button-balanced" ng-click = "{{item.true}}">True</button>
					<button class = "button button-block button-balanced" ng-click = "{{item.false}}">False</button>
				</div>
			</div>

		</ion-item>
	</ion-content>
</ion-view>
